.categorie {
    margin-bottom: 10px;
    font-size: 1vw;
}

.data {
    color: rgb(25, 10, 107);
    font-size: 1vw;
}

.subtitle {
    text-align: center;
    text-decoration: underline;
    color: rgb(25, 10, 107);
}

.text {
    font-weight: bolder;
}

.views {
    text-align: end;
    margin-right: 10px;
    font-weight: bolder;
    font-size: 1vw;
}
