*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-size: cover;
    background-image: url(/assets/fundo.jpg);
    font-family: 'Montserrat', sans-serif;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}